body {
	/*Media queries for condensed screen size? or replace 
	whole background image with color and manually place image in middle*/
	background-color: rgb(40,40,40);
/*	background-image: url(../images/ssb-background3.png);*/
	background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Bangers', cursive;
    color: white;
    margin-left: 10px;
}

h3 {
	font-size: 30px;
}

.first-head {
	text-align: center;
	font-size: 60px;
}

#sad-kinda {
	font-size: 30px;
}

.audio-player {
	width: 70px;
	position: absolute;
	top: 10px;
    right: .5%;
    z-index: 6;
}

.audio-player:hover {
	opacity: .7;
}

.char-select {
	font-size: 40px;
}

#start-over {
	font-size: 20px;
	padding: 8px;
	background-color:rgb(110,110,110);
	position: absolute;
	top: 10px;
    left: .5%;
}

#start-over:hover {
	opacity: .7;
}

.character:hover {
	opacity: .7;
}

.attack {
	font-size: 20px;
	padding: 8px;
	background-color:rgb(70,230,70);
	position: absolute;
	left: 50%;
	top: 20%;
}

.attack:hover {
	opacity: .7;
}

.melee-bg {
	border: solid red 3px;
}

.bck-grnd {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 30%;
	height: auto;
}

.score-board {
	right: 40px;
	position: absolute;
	bottom: 340px;
}

.game-stats {
	color: rgb(227,18,34);
}
