body {
	/*Media queries for condensed screen size? or replace 
	whole background image with color and manually place image in middle*/
	background-image: url(../images/ssb-background3.png);
	background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Bangers', cursive;
}


.first-head {
	text-align: center;
	color: white;
	font-size: 60px;
}

#sad-kinda {
	font-size: 30px;
}

.audio-player {
	width: 70px;
	position: absolute;
	top: 10px;
    right: .5%;
}

.audio-player:hover {
	opacity: .7;
}

.char-select {
	font-size: 40px;
	color: white;
}

#start-over {
	font-size: 20px;
	padding: 8px;
	background-color:rgb(110,110,110);
	color: white;
	position: absolute;
	top: 10px;
    left: .5%;
}

#start-over:hover {
	opacity: .7;
}

.character:hover {
	opacity: .7;
}

.attack {
	font-size: 20px;
	padding: 8px;
	background-color:rgb(70,230,70);
	color: white;
	position: relative;
	width: 75px;
	margin-left: 5px;
}

.attack:hover {
	opacity: .7;
}
